.menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 100px;
    transform: translateX(100%);
    will-change: transform;
  }
  
ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
li {
    color: #fafafa;
    display: block;
    transform-origin: 20px 50%;
    font-weight: bold;
    padding: 5px;
    will-change: transform, opacity, filter;
  }
  
ul,li {
    list-style: none;
    margin: 0;
  }
  
.buttonBurger {
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
  }
 
 
 
  